<div class="container mt-5">
    <div class="nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tokens
        </NavLink>
        <NavLink class="nav-link" href="shoppers">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shoppers
        </NavLink>
    </div>
</div>

@code {
    
}