@page "/shoppers"

<PageTitle>Shoppers</PageTitle>

<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h3>Shoppers Table</h3>
            </div>
        </div>
        
        <div class="row gap-4">
            <div class="col">
                <ShoppersTable />
            </div>
            <div class="col-3">
                <h3>Create New</h3>
                <UpsertShopperForm />
            </div>
        </div>
    </div>
</section>

@code {
    
}