@page "/"
@page "/tokens"

<PageTitle>Tokens</PageTitle>

<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h3>Tokens Table</h3>
            </div>
        </div>
        
        <div class="row gap-4">
            <div class="col">
                <TokensTable />
            </div>
            <div class="col-3">
                <h3>Create New</h3>
                <UpsertTokenForm />
            </div>
        </div>
    </div>
</section>