<table class="table">
    <th>ID</th>
    <th>Name</th>
    <th>Account ID</th>

    <GetShoppers Context="shopper">
        <tr>
            <td>@shopper.Id</td>
            <td>@shopper.Name</td>
            <td>@shopper.AccountId</td>
        </tr>
    </GetShoppers>
</table>

@code {
    
}